<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active slider-size">
      <img src="http://2.cdn.nhle.com/oilers/images/upload/gallery/2015/01/461502774_slide.jpg" alt="Oiler shooting versus the Blues">
      <div class="carousel-caption" id="slide-one-caption">
        <h3>Our selection of sticks can't be beat.</h3>
         <a href="/products?category=sticks">Shop Sticks</a>
      </div>
    </div>
    <div class="item slider-size">
      <img src="http://2.cdn.nhle.com/blackhawks/images/upload/gallery/2013/11/187612259_slide.jpg" alt="Blackhawks and Oilers battling in front of the net">
      <div class="carousel-caption" id="slide-two-caption">
        <h3>Stay protected when battling in front.</h3>
      </div>
    </div>
    <div class="item slider-size">
      <img src="http://2.cdn.nhle.com/nhl/images/upload/gallery/2015/02/463500906_slide.jpg" alt="Marc-Andre Fleury fixing his helmet">
      <div class="carousel-caption" id="slide-three-caption">
        <h3>Need a new bucket? We got you covered.</h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>